In [46]:
import pandas as pd

In [47]:
agg_tran_state = pd.read_csv('agg_tran_state.csv')
agg_tran_user =pd.read_csv('agg_tran_user.csv')
map_tran_state = pd.read_csv('map_tran_state.csv')
map_tran_user = pd.read_csv('map_tran_user.csv')

In [48]:
map_tran_user

,State,Year,Quater,District,RegisteredUsers,AppOpens
0,rajasthan,2019,Q2,pali district,187542,930088
1,rajasthan,2019,Q2,ganganagar district,235568,1551938
2,rajasthan,2019,Q2,churu district,195534,1006339
3,rajasthan,2019,Q2,jaipur district,2290462,22271457
4,rajasthan,2019,Q2,baran district,95427,564207
...,...,...,...,...,...,...
14635,arunachal-pradesh,2021,Q3,pakke kessang district,770,213423
14636,arunachal-pradesh,2021,Q3,east siang district,22538,1086775
14637,arunachal-pradesh,2021,Q3,upper subansiri district,7652,375423
14638,arunachal-pradesh,2021,Q3,tawang district,13650,1355010
14639,arunachal-pradesh,2021,Q3,namsai district,12140,674435

In [49]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\prasa\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\prasa\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [50]:
import mysql.connector as msql
from mysql.connector import Error

try:
    conn = msql.connect(host='localhost', user='root',
                        password='1234')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE Phonepe_Pulse")
        print("Phonepe_Pulse database is created")

except Error as e:
    print("Error while connecting to MySQL", e)

Error while connecting to MySQL 1007 (HY000): Can't create database 'phonepe_pulse'; database exists

In [51]:
agg_tran_state.dtypes

State                  object
Year                    int64
Quater                 object
Transaction_type       object
Transaction_count       int64
Transaction_amount    float64
dtype: object

In [52]:
try:
    conn = msql.connect(host='localhost',database='phonepe_pulse',user='root',password='1234')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("SELECT DATABASE();")
        record = cursor.fetchone()
        cursor.execute("DROP TABLE IF EXISTS agg_tran_state;")
        cursor.execute("CREATE TABLE agg_tran_state\
                       (state varchar(100),\
                        year int,\
                        quater varchar(10),\
                        transaction_type varchar(50),\
                        transaction_count int,\
                        transaction_amount float(50,4))")
        print('agg_tran_state table is created successfully')
        for i,row in agg_tran_state.iterrows():
            sql = "INSERT INTO phonepe_pulse.agg_tran_state VALUES (%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            conn.commit()
        print('agg_tran_state values are inserted successfully')
except Error as e:
    print('Error occurs while connecting mysql',e)

agg_tran_state table is created successfully
agg_tran_state values are inserted successfully

In [53]:
agg_tran_user.dtypes

State                object
Year                  int64
Quater               object
Brand                object
Brand_count           int64
Brand_percentage    float64
dtype: object

In [54]:
try:
    conn = msql.connect(host='localhost',database='phonepe_pulse',user='root',password='1234')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("SELECT DATABASE();")
        record = cursor.fetchone()
        cursor.execute("DROP TABLE IF EXISTS agg_tran_user;")
        cursor.execute("CREATE TABLE agg_tran_user \
                       (state varchar(100),\
                        year int,\
                        quater varchar(10),\
                        brand varchar(50),\
                        brand_count int,\
                        brand_percentage float(50,4))")
        print('agg_tran_user table is created successfully')
        for i,row in agg_tran_user.iterrows():
            sql = "INSERT INTO phonepe_pulse.agg_tran_user VALUES (%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            conn.commit()
        print('agg_tran_user values are inserted successfully')
except Error as e:
    print('Error occurs while connecting mysql',e)

agg_tran_user table is created successfully
agg_tran_user values are inserted successfully

In [55]:
map_tran_state.dtypes

State                  object
Year                    int64
Quater                 object
District               object
Transaction_count       int64
Transaction_amount    float64
dtype: object

In [56]:
try:
    conn = msql.connect(host='localhost',database='phonepe_pulse',user='root',password='1234')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("SELECT DATABASE();")
        record = cursor.fetchone()
        cursor.execute("DROP TABLE IF EXISTS map_tran_state;")
        cursor.execute("CREATE TABLE map_tran_state \
                       (state varchar(100),\
                        year int,\
                        quater varchar(10),\
                        district varchar(50),\
                        transaction_count int,\
                        transaction_amount float(50,4))")
        print('map_tran_state table is created successfully')
        for i,row in map_tran_state.iterrows():
            sql = "INSERT INTO phonepe_pulse.map_tran_state VALUES (%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            conn.commit()
        print('map_tran_state values are inserted successfully')
except Error as e:
    print('Error occurs while connecting mysql',e)

map_tran_state table is created successfully
map_tran_state values are inserted successfully

In [57]:
map_tran_user.dtypes

State              object
Year                int64
Quater             object
District           object
RegisteredUsers     int64
AppOpens            int64
dtype: object

In [58]:
try:
    conn = msql.connect(host='localhost',database='phonepe_pulse',user='root',password='1234')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("SELECT DATABASE();")
        record = cursor.fetchone()
        cursor.execute("DROP TABLE IF EXISTS map_tran_user;")
        cursor.execute("CREATE TABLE map_tran_user \
                       (state varchar(100),\
                        year int,\
                        quater varchar(10),\
                        district varchar(50),\
                        registereduser int,\
                        appopens int)")
        print('map_tran_user table is created successfully')
        for i,row in map_tran_user.iterrows():
            sql = "INSERT INTO phonepe_pulse.map_tran_user VALUES (%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            conn.commit()
        print('map_tran_user values are inserted successfully')
except Error as e:
    print('Error occurs while connecting mysql',e)

map_tran_user table is created successfully
map_tran_user values are inserted successfully